---
import type { GetStaticPaths } from "astro";
import CharacterCard from '@components/CharacterCard.astro';
import type { CharacterListResponse } from '@interfaces/characters-list.response';
import Layout from '@layouts/Layout.astro';



export const getStaticPaths = (async ({paginate}) => {
	const resp = await fetch('https://dragonball-api.com/api/characters?limit=58')
	const {items:characters} = await resp.json() as CharacterListResponse
	return paginate(characters, {pageSize: 8});
}) satisfies GetStaticPaths;

const { page } = Astro.props

---

<Layout title="Dragonball | Home">
	<section>
		<header class="p-4 flex gap-4 items-center">
			<img src="/images/shenlong.png" class="w-[50px]" alt="Shen Long">
			<h1 class="text-3xl font-bold">Wiki Dragon Ball </h1>
		</header>

		<div class="p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
			{
				page.data.map(({name, image}) => 
					<CharacterCard name={name} image={image}/>
				)
			}
		</div>
	</section>
	<section class="flex px-4 mt-10 gap-2 items-center">
	
		<a 
			class:list={
				[
					'btn-button', 
					{disabled: !page.url.prev}
				]
			} 
			href={page.url.prev}
		>
			Anterior
		</a>
		<a 
			class:list={
				[
					'btn-button',
					{disabled: !page.url.next}
				]
			} 
			href={page.url.next}
		>
			Siguiente
		</a>
		<div class="flex w-full justify-end">
			<span class="font-bold">Página {page.currentPage}</span>
		</div>
	</section>
		
</Layout>

<style>
	@reference "tailwindcss";
	.btn-button {
		@apply bg-blue-500 text-white px-4 py-2 rounded;
	}

	.disabled {
		@apply bg-gray-600 text-gray-400;
	}

</style>
