---
// Code fense - codigo del servidor
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css'
import { siteInfo } from 'src/consts/site-info';
interface Props {
	title?: string;
	image?: string;
	description?: string;
}

const {title=siteInfo.title, description=siteInfo.description, image} = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="author" content="Junior De La Roche"/>
		<meta property="og:title" content={title}/>
		<meta property="og:description" content={description}/>
		<meta property="og:image" content={image}/>

		<ClientRouter />
	</head>
	<body class="bg-slate-800 text-slate-100 m-auto max-w-5xl">
		<main>
			<slot />
		</main>
	</body>
</html>

